<html>
  <head>  
    <title>(x)ee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='xee.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrapper"> 
      <p align="right" style="color:#90EE90">{{ spotify_name }}</p>
      <center>
      <h1>{{ playlist_names }}</h1>
      </center>
      <div id="action">
        <center>
          <img id="cover_art" src="" style="max-width:60%;height:auto"></img>
          <h1 id="title"></h1>
          <h2 id="artist"></h2>
        </center>
        <div id="comments"></div>
        <center>
          <textarea id="comment-submission" rows="6"></textarea>
          </br>
          <button onclick="submitComment()">Submit</button>
        </center>
      </div>
      <div id="navbar">
      </div>
      <!--
      <div id="footer">
        <img src={{ url_for('static', filename='button.png') }}></img>
      </div>
      -->
    </div>
    <script>
      // Hide 'action' window until playlist is selected
      $('#action').hide()

      // Capture list of playlists from backend
      var app_root = '{{ app_root }}'
      var playlists = JSON.parse('{{ playlists | tojson | safe }}');
      console.log(playlists)
      for (var i = 0; i < playlists.length; i++) {
        $('#navbar').append('<a class="playlist" href="javascript:selectPlaylist('+i+');"><p align="center"><b>'+playlists[i].name+'</b></p></a>');
      }

      // Get tracks
      var tracks = []
      var curr_track = 0

      function selectPlaylist(ndx) {
        // Get playlist from server
        $.ajax(app_root + "/playlist/" + playlists[ndx].id)
          .done(function(newTracks) {
            // Empty navbar, populate with playlist's newTracks
            $('#navbar').empty()
            for (var i = 0; i < newTracks.length; i++) {
              $('#navbar').append('<a class="track" href="javascript:selectTrack('+i+');"><p align="center"><b>'+newTracks[i].title+'</b> by <b>'+newTracks[i].artist+'</b></p></a>');
            }
            // !! : How to avoid global variable?
            // Populate global newTracks variable
            tracks = newTracks
            curr_track = tracks.length-1;
            selectTrack(tracks.length-1);
            $('#action').show()
          });
      }

      function selectTrack(ndx) {
        // Set state
        curr_track = ndx;

        // Set cover art, title, and artist
        $('#cover_art').attr('src', tracks[ndx].art_url); 
        $('#title').text(tracks[ndx].title);
        $('#artist').text(tracks[ndx].artist);
        
        // Remove comment contents
        $('#comment-submission').val('');

        // Replace existing comments
        $('#comments').empty();
        // Get comments from server
        $.ajax(app_root + "/song/" + tracks[ndx].id)
          .done(function(comments) {
            console.log(comments);
            for (var i = 0; i < comments.length; i++) {
              $('#comments').append('<b>'+comments[i].user+'</b></br><p>'+comments[i].comment+'</p>');
            }
          });
      }

      function submitComment() {
        var comment = {
          song_id: tracks[curr_track].id,
          comment: $('#comment-submission').val()
        };
        console.log(comment)
        $('#comment-submission').val('');

        $.ajax({
          url: app_root + '/comment',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(comment)
        }).done(function(data) {
          selectTrack(curr_track); 
        });
      }
    </script>
  </body>
</html>
